- if activities.length > 0
  %table{:id=>"activities_table_#{list_suffix}", :class=>"tablesorter pager"}
    %thead
      %tr
        %th Date
        - if show_owner
          %th Owner
        %th Activity
    %tbody
      - for activity in activities
        %tr
          %td.list
            #{activity.formatted_date}
          - if show_owner
            %td.list
              #{activity.owner}
          %td.list
            #{activity.description}
  =haml :'partials/pager', :locals => {:pager_id => "activities_pager_#{list_suffix}"}
- else
  no Activities found