-if @active_user.nil?
  %h1 Not logged in
  %ul
    %li
      %a{:href => url("/login")} Login
    %li
      %a{:href => url("/register")} Register
- else
  %h1 Logged in as: #{@active_user.display_name}
  %img{:src => url("#{@active_user.image_path}"), :alt=>"User Image", :width => "150"}
  %br
  Your credits: #{@active_user.credits}
  %ul
    %li
      %a{:href=> url("/user/#{@active_user.name}")} View profile
    %li
      %a{:href=> url("/user/#{@active_user.name}/edit")} Edit profile

  %form{:action=>"/work_for", :method=>"POST", :enctype=>"multipart/form-data"}
    %label Work for:
    %select{:name=>"work_for"}
      %option{:value=>"myself"} myself
      - for organization in @data.organizations_by_user(@active_user)
        %option{:value=>organization} #{organization}
    %input.normal_input{:type=>"submit", :name=> "submit", :value => "set"}
  - if !@active_user.working_for.nil?
    Working for: #{@active_user.working_for}
  - else
    Working for: myself
  -unless @active_user.organization_request.last.nil?
    %br
    You have organization requests
    %br
    %a{:href => "/user/#{@active_user}/requests"} Show requests
