-if @active_user.nil?
  %h1 Not logged in
  %ul
    %li
      %a{:href => url("/login")} Login
    %li
      %a{:href => url("/register")} Register
- else
  %h1 Logged in as: #{@active_user.display_name}
  %img{:src => url("#{@active_user.image_path}"), :alt=>"User Image", :width => "150"}
  %br
  Your credits: #{@active_user.credits}
  %ul
    %li
      %a{:href=> url("/user/#{@active_user.name}")} View profile
    %li
      %a{:href=> url("/user/#{@active_user.name}/edit")} Edit profile

  %form{:action=>"/work_for", :method=>"POST"}
    %label Work for:
    %select{:onchange => "this.form.submit();", :name=>"work_for"}
      %option{:value=>"myself", :selected => @active_user.working_for.nil?} Myself
      - for organization in @active_user.organizations
        %option{:value=>organization.name, :selected => (organization == @active_user.working_for && !@active_user.working_for.nil?) } #{organization.display_name}
  - if !@active_user.working_for.nil?
    Working for:
    %a{:href => "/organization/#{@active_user.working_for.name}"}#{@active_user.working_for.display_name}
  - else
    Working for: Myself
  -unless @active_user.organization_request.last.nil?
    %br
    You have organization requests
    %br
    %a{:href => "/user/#{@active_user}/requests"} Show requests
