- if type == :user
  - target = "user/#{id}"
-if tracked_already
  %form{:action => "/untrack/#{track_id}", :method => "POST"}
    %input{:type => "submit",:name => "action", :value => "Untrack #{name}", :class => "button_as_link"}
-else
  %form{:action => "/track/#{target}", :method => "POST"}
    %input{:type => "submit",:name => "action", :value => "Track #{name}", :class => "button_as_link"}