-#put information to add item for auction
:javascript
  $(document).ready(function() {
     $(".datepicker").datepick({dateFormat: 'dd-mm-yyyy'});

     Emporium.validate.number($('#minimal'), "Must be a valid number.", false, "Please enter a minimal bid.");
     Emporium.validate.number($('#increment'), "Must be a valid number.", false, "Please enter an increment.");
     Emporium.validate.date($('#date'), "Date has to be in the Format 14-05-2012. ");
  })

%h1 Add Item For Auction
-auction = @data.auction_by_id(item.id)
-if @data.include?(item.id) && !auction.bid.empty?
  %br
  %br
  %p2 YOU CAN'T CHANGE AN ACTIVE AUCTION WITH PLACED BIDS
-else
  %form{:action => "/item/#{item.id}/show_auction_adding", :method => "POST", :enctype => "multipart/form-data"}
    %img.image_float_right{:src => url("#{item.image_path}"), :width => "150px"}
    %h2 #{item.name}
    -#%input.normal_input{:type => "text", :name => "name", :value => "#{item.name}"}
    %label Minimal Price*:
    %br
    %input.normal_input{:id => "minimal", :type => "text", :name => "minimal", :placeholder => "0", :value => (auction.minimal unless auction == nil)}
    %br
    %label Increment Step*:
    %br
    %input.normal_input{:id => "increment", :type => "text", :name => "increment", :placeholder => "0", :value => (auction.increment unless auction == nil)}
    %br
    %label Auction End Time*:
    %br
    %input.datepicker{:id => "date", :type => "text", :name => "date", :placeholder => "Valid till Date"}
    %br
    %input.normal_input{:type => "text", :name => "time", :value => "00:00", :placeholder => "Valid till Time"}
    %br
    %label Description:
    %br
    %textarea.normal_input.default_textarea_size{:name => "description"}
      #{item.description}
    %br
    %label Change Picture
    %br
    %input{:type=>"file", :name=>"image"}
    %br
    %br
    %input.normal_input{:type => "submit",:class => "button_margin", :value => "Start Auction"}
    %p#error_message
-if @data.include?(item.id)
  %form{:action => "/auction/go_back_to_selling_mode/#{item.id}", :method => "GET", :enctype => "multipart/form-data"}
    %input{:type => "submit", :value => "Go Back To Selling Mode", :class => "button_margin"}

