-#FW&MW Shows the edit item form
:javascript
  $(document).ready(function() {
     $(".datepicker").datepick({dateFormat: 'dd-mm-yyyy'});

     $("#next_desc").hide();
     if ($("#description_info").attr("current_index") <= 0) {
       $("#prev_desc").hide();
     }

     $("#prev_desc").click(function(){
       var descriptionIndex = $("#description_info").attr("current_index") - 1;
       var itemId =  $("#description_info").attr("itemid");
       if (descriptionIndex >= 0) {
        updateDescription(descriptionIndex, itemId);
       }
     });

     $("#next_desc").click(function(){
            var descriptionIndex = 1 + parseInt($("#description_info").attr("current_index"));
            var itemId =  $("#description_info").attr("itemid");
            if (descriptionIndex <= $("#description_info").attr("max_index")) {
             updateDescription(descriptionIndex, itemId);
            }
          });


     function updateDescription(newIndex,itemId) {
         $.get("/item/" + itemId + "/description/" + newIndex, function(data) {
           $("#description").html(data);
           $("#description_info").attr("current_index", newIndex)
           if ($("#description_info").attr("max_index") <= newIndex) {
              $("#next_desc").hide();
           } else {
              $("#next_desc").show();
           }
           if (newIndex <= 0) {
             $("#prev_desc").hide();
           } else {
             $("#prev_desc").show();
           }
         });
       }

    })
%h1 Edit Item
%form{:action => "/item/#{item.id}/edit", :method => "POST", :enctype=>"multipart/form-data"}
  %label
    Name*:
  %br
  %input.normal_input{:type => "text", :name => "name", :value => "#{item.name}"}
  %br
  %label
    Price*:
  %br
  %input.normal_input{:type => "text", :name => "price", :value => "#{item.price}"}
  %br
  %label
    Valid till Date:
  %br
  %input.datepicker{:type => "text", :name => "date", :value => "#{item.formatted_end_time_date}", :placeholder =>"01-01-2000"}
  %span.hint If field is empty, the offer will not expire
  %br
  %label
    Valid till Time:
  %br
  %input.normal_input{:type => "text", :name => "time", :value => "#{item.formatted_end_time_time}", :placeholder =>"12:00"}
  %span.hint Format examples: 09:56, 20:00
  %br
  %label
    Description:
  %br
  %div{ :id => "description_info", :current_index => "#{item.descriptions.length - 1}", :max_index => "#{item.descriptions.length - 1}", :itemid => "#{item.id}" }
    %span{ :id => "prev_desc"}
      << previous description
    %span{ :id => "next_desc"}
      next description >>

  %textarea.normal_input.default_textarea_size{:id => "description", :name => "description"}
    #{item.description}
  %br
  %label
    Image:
  %br
  %img{:src => url("#{item.image_path}"), :width => "150px"}
  %br
  %input{:type=>"file", :name=>"image"}
  %br
  %input.normal_input{:type => "submit",:class=>"button_margin", :value => "Save"}


