-#FW&MW Shows the edit item form
:javascript
  $(document).ready(function() {
     $(".datepicker").datepick({dateFormat: 'dd-mm-yyyy'});
    })
%h1 Edit Item
%form{:action => "/item/#{item.id}/edit", :method => "POST", :enctype=>"multipart/form-data"}
  %label
    Name*:
  %br
  %input.normal_input{:type => "text", :name => "name", :value => "#{item.name}"}
  %br
  %label
    Price*:
  %br
  %input.normal_input{:type => "text", :name => "price", :value => "#{item.price}"}
  %br
  %label
    Valid till Date:
  %br
  %input.datepicker{:type => "text", :name => "date", :value => "#{item.formatted_end_time_date}", :placeholder =>"01-01-2000"}
  %span.hint If field is empty, the offer will not expire
  %br
  %label
    Valid till Time:
  %br
  %input.normal_input{:type => "text", :name => "time", :value => "#{item.formatted_end_time_time}", :placeholder =>"12:00"}
  %span.hint Format examples: 09:56, 20:00
  %br
  %label
    Description:
  %br
  %textarea.normal_input.default_textarea_size{:name => "description"}
    #{item.description}
  %br
  %label
    Image:
  %br
  %img{:src => url("#{item.image_path}"), :width => "150px"}
  %br
  %input{:type=>"file", :name=>"image"}
  %br
  %input.normal_input{:type => "submit",:class=>"button_margin", :value => "Save"}


