-#FW&MW Shows the edit item form
%h1 Edit Item
%form{:action => "/item/#{item.id}/edit", :method => "POST", :enctype=>"multipart/form-data"}
  %label
    Name*:
  %br
  %input.normal_input{:type => "text", :name => "name", :value => "#{item.name}"}
  %br
  %label
    Price*:
  %br
  %input.normal_input{:type => "text", :name => "price", :value => "#{item.price}"}
  %br
  %label
    Description:
  %br
  %textarea.normal_input.default_textarea_size{:name => "description"}
    #{item.description}
  %br
  %label
    Image:
  %br
  %img{:src => url("#{item.image_path}"), :width => "150px"}
  %br
  %input{:type=>"file", :name=>"image"}
  %br
  %input.normal_input{:type => "submit",:class=>"button_margin", :value => "Save"}

