-#SH Shows an error when buy failed
-if error == "credit"
  .error
    Not enough credits
%h1 Hello #{current_name}
-#SH Shows a table of all active items
%table
  %tr
    %th Name
    %th Price
    %th Owner
    %th.center Buy
  - for item in items
    - if item.active
      %tr
        %td.list
          %a{:href => "/item/#{item.id}", :class => "tooltip"}
            #{item.name}
            %span #{item.description.gsub("\n", "<br>")}
        %td.right.list #{item.price}
        %td.list
          %a{:href=> "/user/#{item.owner}"} #{item.owner}
        %td.list
          - if item.owner.name != current_name #SH Don't show the buy button for your own items
            %form{:action => "/buy/#{item.id}", :method => "POST"}
              %input{:type => "submit",:name => "action", :value => "Buy", :class => "button_as_link"}
