:javascript
  $(document).ready(function() {
     $('.powertip').powerTip({
          placement: 's'
     });

    $("#itemTable")
           .tablesorter({
                   headers: {4: {sorter: false}},
                   sortList: [[2,0], [0,0]],
                   widgets: ['zebra']
           })
           .tablesorterPager({
                   container: $("#pager"),
                   positionFixed: false
           });

     $("#itemTable2")
                .tablesorter({
                        headers: {3: {sorter: false}},
                        sortList: [[2,0], [0,0]],
                        widgets: ['zebra']
                })
                .tablesorterPager({
                        container: $("#pager2"),
                        positionFixed: false
                });
  })

%h1 All items
-#SH Shows a table of all active items
%table{:id=>"itemTable", :class=>"tablesorter pager"}
  %thead
    %tr
      %th Name
      %th.padding_left.price_column Price
      %th.padding_left Owner
      %th.padding_left Valid till
      %th.center Buy
  %tbody
    - for item in items
      - if item.state == :active || item.state == :auction
        %tr
          %td.list
            %a{:href => "/item/#{item.id}",  "data-powertip" => "#{item.description.gsub("\n", "<br>")}</br><img src=#{item.image_path} width=150 />", :class => "powertip"}
              #{item.name}
          %td.right.list.padding_left #{item.price}
          %td.list.padding_left
            -if item.owner.class == Models::User
              %a{:href=> "/user/#{item.owner}"} #{item.owner.display_name}
            -else
              %a{:href=> "/organization/#{item.owner}"} #{item.owner.name}
          %td.padding_left #{item.end_time}
          %td.center
            - if item.owner != @active_user and item.owner != @active_user.working_for and item.state == :active #SH Don't show the buy button for your own items
              =haml :'partials/buy_button', :locals => {:itemid => item.id}
            - if item.owner != @active_user and item.owner != @active_user.working_for and item.state == :auction
              %a.button_as_link{:href => "/auction/#{item.id}"} Bid
=haml :'partials/pager', :locals => {:pager_id => "pager"}
=haml :list_auctions
