:javascript
  $(document).ready(function() {
     $('.powertip').powerTip({
          placement: 's' // north-east tooltip positio
     });

    $("#itemTable")
      .tablesorter({
              headers: {3: {sorter: false}},
              sortList: [[0,0], [1,0]],
              widgets: ['zebra']
      })
      .tablesorterPager({
              container: $("#pager"),
              positionFixed: false
      });
  })

%h1 Hello #{@active_user.display_name}
%p
%form{:action=>"/search", :method=>"POST", :enctype=>"multipart/form-data"}
  %label
    Enter your key words: (e.g. small white etc. ...)
  %br
  %input.normal_input{:type=>"text", :name=>"keywords", :style => "width:500px"}
  %br
  %input.normal_input{:type=>"submit", :name=> "submit", :class=>"button_margin", :value => "Search"}
%p
-#SH Shows a table of all active items
%table{:id=>"itemTable", :class=>"tablesorter pager"}
  %thead
    %tr
      %th Name
      %th.padding_left.price_column Price
      %th.padding_left Owner
      %th.center Buy
  %tbody
    - for item in items
      - if item.state == :active
        %tr
          %td.list
            %a{:href => "/item/#{item.id}",  "data-powertip" => "#{item.description.gsub("\n", "<br>")}</br><img src=#{item.image_path} width=150 />", :class => "powertip"}
              #{item.name}
          %td.right.list.padding_left #{item.price}
          %td.list.padding_left
            %a{:href=> "/user/#{item.owner}"} #{item.owner.display_name}
          %td.list
            - if item.owner != @active_user #SH Don't show the buy button for your own items
              =haml :'partials/buy_button', :locals => {:itemid => item.id}
=haml :'partials/pager'