:javascript
  $(document).ready(function() {
     $("#activities_table_self")
                .tablesorter({
                        widgets: ['zebra']
                })
                .tablesorterPager({
                        container: $("#activities_pager_self"),
                        positionFixed: false
                });
  })

%h1 Item #{item.name}
- unless @active_user == item.owner
  =haml :'partials/trackbutton', :locals => {:tracked_already => @active_user.trackees.include?(item), :id => item.id, :type => :item, :track_id => item.track_id, :name => item.name }
%div
  -if item.owner != @active_user and item.owner != @active_user.working_for
    -if item.state == :active
      =haml :'partials/buy_button', :locals => {:itemid => item.id}
      - unless @active_user.wish_list.include? item
        %form{:action => "/item/#{item.id}/wish", :method => "POST"}
          %input{:type => "submit",:name => "action", :value => "Add to wishlist", :class => "button_as_link"}
    -if item.state == :auction
      %a.button_as_link{:href => "/auction/#{item.id}"} Bid
      - unless @active_user.wish_list.include? item
        %form{:action => "/item/#{item.id}/wish", :method => "POST"}
          %input{:type => "submit",:name => "action", :value => "Add to wishlist", :class => "button_as_link"}
  -if item.owner == @active_user
    - unless @active_user.working_for.nil?
      %form{:action => "/item/#{item.id}/transfer/#{@active_user.working_for.name}", :method => "POST"}
        %input{:type => "submit",:name => "action", :value => "Transfer item to organization #{@active_user.working_for.display_name}", :class => "button_as_link"}
%img.image_float_left{:src => "#{item.image_path}", :alt => "Item image"}
%h2 Owner
%span
  %a{:href => "/user/#{item.owner.name}"} #{item.owner.display_name}
%h2 Price
%span #{item.price}
%h2 Valid till
%span #{item.end_time}
%h2 Description
%span
  #{item.description.gsub("\n", "<br>")}
  -if item.description == ""
    No description available
%h2 Activities
=haml :'partials/activities_list', :locals => {:activities => item.activities, :show_owner => false, :list_suffix => "self"}

%table
  %thead
    %tr
      %th Comments
  %tbody
    -for comment in item.comments
      %tr
        %th
          %table{:class => "tablesorter pager"}
            %tbody
              %tr
                %th #{comment.user.name}
              %tr
                %th #{comment.timestamp}
        %th #{comment.text}
%form{:action => "/add_comment/#{item.id}", :method => "POST", :enctype=>"multipart/form-data"}
  %textarea.normal_input{:name => "text", :style => "width:500px; height:100px", :placeholder => "Your comment"}
  %input.normal_input{:type => "submit",:class=>"button_margin", :value => "comment"}