%h1 Item #{item.name}
%img.image_float_left{:src => "#{item.image_path}", :alt => "Item image"}
%span
  Owner:
  %a{:href => "/user/#{item.owner.name}"} #{item.owner.name}
%br
%span Price: #{item.price}
%br
%span #{item.description.gsub("\n", "<br>")}
-if item.description == ""
  %p No description available