%h1 Item #{item.name}
-if item.state == :active
  =haml :'partials/buy_button', :locals => {:itemid => item.id}
%img.image_float_left{:src => "#{item.image_path}", :alt => "Item image"}
%h2 Owner
%span
  %a{:href => "/user/#{item.owner.name}"} #{item.owner.name}
%h2 Price
%span #{item.price}
%h2 Description
%span
  #{item.description.gsub("\n", "<br>")}
  -if item.description == ""
    No description available
%table
  %thead
    %tr
      %th Comments
  %tbody
    -for comment in comments
      %tr
        %th
          %table{:class => "tablesorter pager"}
            %tbody
              %tr
                %th #{comment.user.name}
              %tr
                %th #{comment.timestamp}
        %th #{comment.text}
%form{:action => "/add_comment/#{item.id}", :method => "POST", :enctype=>"multipart/form-data"}
  %textarea.normal_input{:name => "text", :style => "width:500px; height:100px", :placeholder => "Your comment"}
  %input.normal_input{:type => "submit",:class=>"button_margin", :value => "comment"}