%h1 All Items For Auction
%table.table-minimalistic
  %tr
    %th Item
    %th Owner
    %th Actual Bid
    %th Time Left
  - for auction in auctions
    %tr
      %td
        %a{:href => url("/auction/#{auction.id}")} #{auction.name}
      %td
        -user = auction.user
        %a{:href => url("/user/#{user.name}")} #{user.display_name}
      %td
        #{"actual bid"}
      %td
        -#less = auction.time-Time.now
        #{Time.now}