:javascript
  $(document).ready(function() {
     $('.powertip').powerTip({
          placement: 's' // north-east tooltip positio
     });
     $("#itemTable")
           .tablesorter({
                   headers: {3: {sorter: false}},
                   sortList: [[2,0], [0,0]],
                   widgets: ['zebra']
           })
           .tablesorterPager({
                   container: $("#pager"),
                   positionFixed: false
           });
     $("#activities_table_self")
                .tablesorter({
                        widgets: ['zebra']
                })
                .tablesorterPager({
                        container: $("#activities_pager_self"),
                        positionFixed: false
                });
     $("#activities_table_members")
                .tablesorter({
                        widgets: ['zebra']
                })
                .tablesorterPager({
                        container: $("#activities_pager_members"),
                        positionFixed: false
                });
     $("#itemTable2")
                .tablesorter({
                        headers: {3: {sorter: false}},
                        sortList: [[2,0], [0,0]],
                        widgets: ['zebra']
                })
                .tablesorterPager({
                        container: $("#pager2"),
                        positionFixed: false
                });
  })

%h1 Organization #{organization.name}
%img.image_float_left{:src => "#{organization.image_path}", :alt => "Organization image"}
%h2 Credits
%span
  #{organization.credits}
%h2 Admins
%table
  - for admin in organization.admins
    %tr
      %td
        %a{:href => "/user/#{admin.name}"} #{admin.display_name}
      %td
        %form{:action => "/organization/#{organization.name}/remove_admin/#{admin.name}", :method => "POST"}
          %input{:type => "submit", :value => "Remove"}
  %tr
    %form{:action => "/organization/#{organization.name}/add_admin", :method => "POST"}
      %td
        %select{:name => "user"}
          - for user in organization.members
            -unless organization.admins.include?(user)
              %option{:value => "#{user.name}"}#{user.display_name}
      %td
        %input{:type => "submit", :value => "Add as admin"}
%h2 Interests
%span
  #{organization.interests.gsub("\n", "<br>")}
  -if organization.interests == ""
    No interests available
%h2 Members
%table
  -for member in organization.members
    %tr
      %td
        %a{:href => "/user/#{member.name}"} #{member.display_name}
      %td
        - if organization.admins.include? @active_user and not organization.admins.include? member
          %form{:action => "/organization/#{organization.name}/remove_member/#{member.name}", :method => "POST"}
            %input{:type => "submit", :value => "Remove"}
  - if organization.admins.include? @active_user
    %tr
      %form{:action => "/organization/#{organization.name}/add_member", :method => "POST"}
        %td
          %select{:name => "user"}
            - for user in @data.all_users
              -unless organization.members.include?(user) || organization.pending_members.include?(user)
                %option{:value => "#{user.name}"}#{user.display_name}
        %td
          %input{:type => "submit", :value => "Send request"}
%h2 Items
=haml :'partials/item_listing', :locals => {:user => organization}

%h2 Activities
=haml :'partials/trackbutton', :locals => {:tracked_already => @active_user.trackees.include?(organization), :id => organization.name, :type => :organization, :track_id => organization.track_id, :name => organization.display_name }
=haml :'partials/activities_list', :locals => {:activities => organization.activities, :show_owner => false, :list_suffix => "self"}

%h2 Members Activities
=haml :'partials/activities_list', :locals => {:activities => organization.members_activities, :show_owner => true, :list_suffix => "members"}
