:javascript
  $(document).ready(function() {
     $('.powertip').powerTip({
          placement: 's' // north-east tooltip positio
     });
     $("#itemTable")
           .tablesorter({
                   headers: {3: {sorter: false}},
                   sortList: [[2,0], [0,0]],
                   widgets: ['zebra']
           })
           .tablesorterPager({
                   container: $("#pager"),
                   positionFixed: false
           });
     $("#itemTable2")
                .tablesorter({
                        headers: {3: {sorter: false}},
                        sortList: [[2,0], [0,0]],
                        widgets: ['zebra']
                })
                .tablesorterPager({
                        container: $("#pager2"),
                        positionFixed: false
                });
  })

%h1 Organization #{organization.name}
=haml :'partials/trackbutton', :locals => {:tracked_already => @active_user.trackees.include?(organization), :id => organization.name, :type => :organization, :track_id => organization.track_id, :name => organization.display_name }
%img.image_float_left{:src => "#{organization.image_path}", :alt => "Organization image"}
%h2 Credits
%span
  #{organization.credits}
%h2 Admin
%span
  %a{:href => "/user/#{organization.admin.name}"} #{organization.admin.display_name}
%h2 Interests
%span
  #{organization.interests.gsub("\n", "<br>")}
  -if organization.interests == ""
    No interests available
%h2 Members
%table
  -for member in organization.members
    %tr
      %td
        %a{:href => "/user/#{member.name}"} #{member.display_name}
      %td
        - if organization.admin == @active_user and member != organization.admin
          %form{:action => "/organization/#{organization.name}/remove_member/#{member.name}", :method => "POST"}
            %input{:type => "submit", :value => "Remove"}
  - if organization.admin == @active_user
    %tr
      %form{:action => "/organization/#{organization.name}/add_member", :method => "POST"}
        %td
          %select{:name => "user"}
            - for user in @data.all_users
              -unless organization.members.include?(user) || organization.pending_members.include?(user)
                %option{:value => "#{user.name}"}#{user.display_name}
        %td
          %input{:type => "submit", :value => "Send request"}
%h2 Items
=haml :'partials/item_listing', :locals => {:user => organization}
