:javascript
  $(document).ready(function() {
     $('.powertip').powerTip({
          placement: 's' // north-east tooltip positio
     });

     $("#itemTable")
        .tablesorter({
                headers: {3: {sorter: false}},
                sortList: [[3,0], [0,0]],
                widgets: ['zebra']
        })
        .tablesorterPager({
                container: $("#pager"),
                positionFixed: false
     });
  })
%h1 Search item
%p{:style => "width: 100%"}
%form{:action=>"/search", :method=>"GET", :enctype=>"multipart/form-data"}
  %input.normal_input{:type=>"text", :name=>"keywords", :value => "#{params[:keywords]}", :placeholder => "Keywords",:style => "width: 50%"}
  %input.normal_input{:type=>"submit", :name=> "searchButton", :class=>"button_margin", :value => "Search",:style => "width: 14%"}
  %input.normal_input{:type=>"submit", :name=> "subscribeButton", :formaction => "/subscribe", :class=>"button_margin", :value => "Subscribe",:style => "width: 18%"}
%p
%h2 Search results
%table{:id=>"itemTable", :class=>"tablesorter pager"}
  %thead
    %tr
      %th Name
      %th.padding_left.price_column Price
      %th.padding_left Owner
      %th.padding_left Relevance
      %th.center Buy
  %tbody
    - for item_with_relevance in items_with_relevances
      -item=item_with_relevance[0]
      -relevance=item_with_relevance[1]
      - if item.state == :active
        %tr
          %td.list
            %a{:href => "/item/#{item.id}",  "data-powertip" => "#{item.description.gsub("\n", "<br>")}</br><img src=#{item.image_path} width=150 />", :class => "powertip"}
              #{item.name}
          %td.right.list.padding_left #{item.price}
          %td.list.padding_left
            %a{:href=> "/user/#{item.owner}"} #{item.owner.display_name}
          %td.right.list.padding_left #{relevance}
          %td.list
            - if item.owner != @active_user #SH Don't show the buy button for your own items
              =haml :'partials/buy_button', :locals => {:itemid => item.id}
=haml :'partials/pager', :locals => {:pager_id => "pager"}
