%h1 Auction #{auction.name}
%img.image_float_right{:src => url("#{auction.image_path}"), :width => "150px"}
%br
%h2 Owner:
%span
  %a{:href => "/user/#{auction.user.name}"} #{auction.user.display_name}
%br
%h2 Description:
%span #{auction.description}
%br
%h2 Minimal Price:
%span #{auction.minimal}
%br
%h2 Minimal Increment Step:
%span #{auction.increment}
%br
%h2 Current Winner:
%span #{auction.get_current_winner == nil ? "no bidder yet" : auction.get_current_winner.display_name}
%br
%h2 Current Price:
%span #{auction.current_price == 0 ? "no bid yet" : auction.current_price}
%br
%h2 Due Date:
%span #{auction.due_date.asctime}
-if auction.user != @active_user
  %form{:action => "/auction/#{auction.id}/set_bid", :method => "POST", :enctype => "multipart/form-data"}
    %input.normal_input_right{:type => "text", :name => "bid", :placeholder => "Set Bid"}
    %input.normal_input_right{:type => "submit", :class => "button_margin", :value => "Set Bid"}
