%h1 Item Auction
%img.image_float_right{:src => url("#{auction.image_path}"), :width => "150px"}
%h2 #{auction.name}
%br
%h3.blue Owner:
%h3.no-margin #{auction.user}
%br
%h3.blue Description:
%h3.no-margin #{auction.description}
%br
%h3.blue Minimal Price:
%h3.no-margin #{auction.minimal}$
%br
%h3.blue Minimal Increment Step:
%h3.no-margin #{auction.increment}$
%br
%h3.blue Current Price:
%h3.no-margin #{auction.current_price}$
%br
%h3.blue Due Date:
%h3.no-margin #{auction.due_date.asctime}

%form{:action => "/auction/#{auction.id}/set_bid", :method => "POST", :enctype => "multipart/form-data"}
  %input.normal_input_right{:type => "text", :name => "bid", :placeholder => "Set Bid"}
  %input.normal_input_right{:type => "submit", :class => "button_margin", :value => "Set Bid"}
