-unless(@active_user == nil)
  %h1 Logged in as: #{@active_user.name}
  %img{:src => url("#{@active_user.image_path}"), :alt=>"User Image"}
  %br
  Your credits: #{@active_user.credits}
  %ul
    %li
      %a{:href=> url("/user/#{@active_user.name}")} View profile
    %li
      %a{:href=> url("/user/#{@active_user}/edit")} Edit profile
- else
  %h1 Not logged in
  %ul
    %li
      %a{:href => url("/login")} Login
    %li
      %a{:href => url("/register")} Register