:javascript
  $(document).ready(function() {
     $('.powertip').powerTip({
          placement: 's'
     });
     $("#itemTable")
           .tablesorter({
                   headers: {4: {sorter: false}},
                   sortList: [[2,0], [0,0]],
                   widgets: ['zebra']
           })
           .tablesorterPager({
                   container: $("#pager"),
                   positionFixed: false
           });
     $("#activities_table_self")
                .tablesorter({
                        widgets: ['zebra']
                })
                .tablesorterPager({
                        container: $("#activities_pager_self"),
                        positionFixed: false
                });
     $("#activities_table_tracking")
                .tablesorter({
                        widgets: ['zebra']
                })
                .tablesorterPager({
                        container: $("#activities_pager_tracking"),
                        positionFixed: false
                });
     $("#activities_table_org")
                .tablesorter({
                        widgets: ['zebra']
                })
                .tablesorterPager({
                        container: $("#activities_pager_org"),
                        positionFixed: false
                });
     $("#itemTable2")
                .tablesorter({
                        headers: {3: {sorter: false}},
                        sortList: [[2,0], [0,0]],
                        widgets: ['zebra']
                })
                .tablesorterPager({
                        container: $("#pager2"),
                        positionFixed: false
                });
  })

- if !user.nil? #SH Only show this for an existing user
  %h1 User #{user.display_name}
  Credits: #{user.credits}
  #userimage
    %img{:src => user.image_path, :width => "150", :alt=>"User image"}
  %h2 Interests
  %p
    #{user.interests}
  - if @active_user == user
    %p
      %a{:href => url("/user/#{user.name}/edit")} Edit profile
  %h2 Items
  %a{:href => "/all_items/#{user.name}"} View items
  %h2 Organizations
  %ul
    -for org in @data.all_organizations
      -if org.members.include? user
        %li
          %a{:href => url("organization/#{org.name}")}  #{org.display_name}
  - if @active_user == user
    %h2 My Activities
  - else
    %h2 Activities
  - unless @active_user == user
    =haml :'partials/trackbutton', :locals => {:tracked_already => @active_user.trackees.include?(user), :id => user.name, :type => :user, :track_id => user.track_id, :name => user.display_name }
  =haml :'partials/activities_list', :locals => {:activities => user.activities, :show_owner => false, :list_suffix => "self"}
  - if @active_user == user
    =haml :'partials/tracking', :locals => {:user => user}

    - if user.organizations.length > 0
      %h2 Activities from my Organizations
      =haml :'partials/activities_list', :locals => {:activities => user.organization_activities, :show_owner => true, :list_suffix => "org"}

