:javascript
  $(document).ready(function() {
     $('.powertip').powerTip({
          placement: 's' // north-east tooltip positio
     });
  })

- if !user.nil? #SH Only show this for an existing user
  %h1 User #{user.display_name}
  Credits: #{user.credits}
  #userimage
    %img{:src => user.image_path, :width => "150", :alt=>"User image"}
  %h2 Interests
  %p
    #{user.interests}
  %h2 Items
  - unless items.length == 0
    %table
      %tr
        %th Name
        %th.padding_left Price
        %th.padding_left Active
      - for item in items
        - type = item.state
        %tr{:class => "#{type}"}
          %td.list
            %a{:href => "/item/#{item.id}",  "data-powertip" => "#{item.description.gsub("\n", "<br>")}</br><img src=#{item.image_path} width=150 />", :class => "powertip"}
              #{item.name}
          %td.list.padding_left #{item.price}
          - if item.state == :active
            %td.list.padding_left yes
            -if user.name==session[:name] #SH If the user shown is the user who is logged in, show de-/activate button
              %td.list
                %form{:action => "/item/#{item.id}/change_state", :method => "POST"}
                  %input{:type => "hidden", :name => "state", :value => "inactive"}
                  %input{:type => "submit", :value => "Deactivate", :class => "button_as_link"}
          - if item.state == :inactive
            %td.list.padding_left no
            -if user.name==session[:name]
              %td.list
                %form{:action => "/item/#{item.id}/change_state", :method => "POST"}
                  %input{:type => "hidden", :name => "state", :value => "active"}
                  %input{:type => "submit", :value => "Activate", :class => "button_as_link"}
          -if user.name==session[:name]
            %td.list
              %form{:action => "/delete/#{item.id}", :method => "POST"}
                %input{:type => "submit",:name => "action", :value => "Delete", :class => "button_as_link"}
          - if item.state == :inactive
            -if user.name==session[:name]
              %td.list
                %a{:href => "/item/#{item.id}/edit"}Edit
          - else
            %td.list
  - else
    %p
      User #{user.display_name} has currently no items
