- if !user.nil?
  %h1 User #{user.name}
  Credits: #{user.credits}
  %table
    %tr
      %th Name
      %th Price
      %th Active
    - for item in user.items
      - if item.active
        - type = 'active'
      - else
        - type = 'inactive'
      %tr{:id => "#{type}"}
        %td.list #{item.name}
        %td.list #{item.price}
        - if item.active
          %td.list yes
          -if user.name==session[:name]
            %td.list
              %form{:action => "/#{item.name}", :method => "POST"}
                %input{:type => "submit",:name => "action", :text => "deactivate", :value => "Deactivate", :id => "button"}
        - else
          %td.list no
          -if user.name==session[:name]
            %td.list
              %form{:action => "/#{item.name}", :method => "POST"}
                %input{:type => "submit",:name => "action", :text => "activate", :value => "Activate", :id => "button"}
