- if !user.nil? #SH Only show this for an existing user
  %h1 User #{user.name}
  Credits: #{user.credits}
  %table
    %tr
      %th Name
      %th.padding_left Price
      %th.padding_left Active
    - for item in user.items
      - if item.active
        - type = 'active'
      - else
        - type = 'inactive'
      %tr{:class => "#{type}"}
        %td.list
          %a{:href => "/item/#{item.id}", :class => "tooltip"}
            #{item.name}
            %span #{item.description.gsub("\n", "<br>")}
        %td.list.padding_left #{item.price}
        - if item.active
          %td.list.padding_left yes
          -if user.name==session[:name] #SH If the user shown is the user who is logged in, show de-/activate button
            %td.list
              %form{:action => "/change/#{item.id}", :method => "POST"}
                %input{:type => "submit",:name => "action", :value => "Deactivate", :class => "button_as_link"}
        - else
          %td.list.padding_left no
          -if user.name==session[:name]
            %td.list
              %form{:action => "/change/#{item.id}", :method => "POST"}
                %input{:type => "submit",:name => "action", :value => "Activate", :class => "button_as_link"}
        -if user.name==session[:name]
          %td.list
            %form{:action => "/delete/#{item.id}", :method => "POST"}
              %input{:type => "submit",:name => "action", :value => "Delete", :class => "button_as_link"}
